body {
  margin: 0;
  background-color: black;
}

#start-screen {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 180px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px; /*space beetween images*/
}

#start-button {
  background-color: red;
  color: black;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: burlywood;
  width: 2000px;
  height: 750px;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("/images/road-background.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 100px;
}

#game-over-screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tank-image {
  position: relative;
  bottom: 0;
  left: 0;
  width: 250px;
}

#wheels-image {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 250px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

#restart-button, #back-to-menu-button {
  background-color: red;
  color: black;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#restart-button {
  background-color: darkorange;
  color: white;
}

#back-to-menu-button {
  background-color: darkred;
  color: white;
}

#score-display {
  position: absolute;
  top: 20px;
  left: 1000px;
  font-size: 55px;
  color: white;
  padding: 10px 20px;
  z-index: 10;
  font-weight: bold;
  font-family: cursive;
}

.fuel {
  position: absolute;
  width: 80px;
  height: 100px;
}

#game-screen, #game-over-screen {
  display: none;
}

#game-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

#score-panel {
  position: absolute;
  top: 10px;
  right: 30px;
  color: white;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  z-index: 10;
}


#lives {
    position:absolute;
    top: 120px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.life {
    width: 80px;
    height: 80px;
}