body {
    margin: 0;
    background-color: black;

}

#start-button {
    background-color: red;
    color: black;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#game-box {
    background-color: burlywood;
    width: 1900px;
    height: 650px;

    position: relative;
    overflow: hidden;
    user-select: none;

    background-image: url("/images/road-background.jpg");
    background-size: cover; 
    background-position: center;
}

#game-box {
    pointer-events: none;
}

#game-screen, #game-over-screen {
    display: none;
}
